@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Open+Sans:wght@800&display=swap');


.light {
  --main-sidebar-background: #ffffff82;
  --main-text-color: #000;
  --sub-text-color: #00000057;
  --input-bg-color: #ffffffb4;
  --input-text-color: #2e2e2e;
}

.dark {
  --main-sidebar-background: #1d1d1dd2;
  --main-text-color: #fff;
  --sub-text-color: #b3b3b357;
  --input-bg-color: #474747b4;
  --input-text-color: #ffffffd3;
}

html,*{
  overflow: hidden;
  box-sizing: border-box;
}

body{
  color: #fff;
  background-color: black;
  user-select: none;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.section1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
  width: 100%;
}

.Bg2::after {
  content: "";
  background-image: url("https://cdn.jsdelivr.net/gh/JerryIs-strong/jerryclock@main/windows.jpg");
  position: absolute;
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.Bg1::after {
  content: "";
  background-image: url("https://cdn.jsdelivr.net/gh/JerryIs-strong/jerryclock@main/windows10.png");
  position: absolute;
  background-size: 100% 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.mainbg-active {
  background-image: url("../cuWall.png");
  background-size: 100% 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

h1 {
  text-align: center;
  padding: 0 20px;
}

.clock {
  text-align: center;
  font-size: 70px;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -2px;
  opacity: 0.8;
  overflow-x: hidden;
}

.Bg {
  width: 100%;
  height: 100%;
}

img {
  overflow: hidden;
  position: absolute;
}

.side-bar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: -100%;
  background-color: var(--main-sidebar-background);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
  background-position: center;
  border-left: 1px solid #595959;
}

.Sidebar-mask {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.263);
  overflow-x: hidden;
  transition: visibility 0s linear 200ms, opacity 200ms;
  opacity: 0;
  visibility: hidden;
  animation: mask-active 0.3s;
}

.Sidebar-mask-active {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0 0 0 / 38%);
  overflow-x: hidden;
  transition: visibility 0s linear 0s, opacity 400ms;
  opacity: 1;
  visibility: visible;
  animation: mask 1s forwards;
}

.information {
  overflow: hidden;
  transition: visibility 0s linear 400ms, opacity 400ms;
  opacity: 0;
  visibility: hidden;
  height: 100%;
}

.information-active {
  overflow: hidden;
  transition: visibility 0s linear 0s, opacity 400ms;
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border-radius: 40px;
}

.openbtn {
  font-size: 20px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  padding: 6px 22px 0 12px;
  border: none;
  transition: all 0.3s ease 0s;
}

.openbtn:hover {
  color: black;
}

.info {
  text-decoration: none;
  color: var(--main-text);
  display: inline-block;
  position: relative;
  z-index: 0;
  transition: all 0.24s ease;
  padding: 0 0.2rem;
  line-height: 1.4em;
  font-weight: bold;
  margin-top: 10px;
  font-size: 10px;
  font-family: "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
  color: black;
  margin: 20px 10px 0 10px;
  cursor: default;
}

.info::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  border-radius: 30px;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: rgba(85, 162, 225, 0.165);
  z-index: -1;
  transition: all 0.24s ease;
}

.closebtn {
  color: black;
  z-index: 2;
  transition: all 0.5s;
  opacity: 1;
  right: 10px;
  top: 10px;
  position: absolute;
}

.footer {
  color: black;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: calc(env(safe-area-inset-bottom) + 90px);
  flex-direction: column;
  bottom: 20px;
}

.version {
  font-size: 3px;
  font-weight: bolder;
  width: fit-content;
  border: 1px solid var(--main-text-color);
  color: var(--main-text-color);
  border-radius: 30px;
  padding: 3px 10px;
}

.discribe {
  text-align: center;
  padding: 0 20px;
  font-size: 7px;
  position: absolute;
  top: 60px;
  font-weight: 600;
}

.discribe::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 1px;
  background-color: #00000024;
  border-radius: 30px;
  left: 70px;
  top: 48px;
}

.github-icon {
  padding-top: 125px;
}

.github-icon img {
  width: 20px;
  position: relative;
}

.github-icon a {
  vertical-align: text-bottom;
  position: relative;
  line-height: 25px;
  padding: 0 10px;
  font-size: 8px;
  font-weight: 700;
}

.date {
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}

.footer img {
  position: relative;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.setting {
  display: flex;
  justify-content: center;
}

.settingBtn {
  display: block;
  border: none;
  background-image: linear-gradient(45deg, #4e87be, #b2849be8);
  color: #fff;
  border-radius: 200px;
  text-align: center;
  width: 200px;
  height: 40px;
  cursor: pointer;
  visibility: visible;
}

.settingBtn-false {
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 256px) {
  #side-bar {
    visibility: none;
    display: none;
  }
}

@media screen and (min-width: 1075px) {
  #urlDone {
    display: none;
  }
}

@media screen and (max-width: 1075px) {
  input.input:nth-child(1) {
    margin: 0 0 5px;
  }

  span.iframe-icon {
    font-size: 23px;
    margin-top: 5px;
    margin-left: 5px;
  }
}

.functionkey {
  right: 10px;
  top: 10px;
  position: absolute;
}

.functionkey a {
  cursor: default;
}

.control-icon {
  vertical-align: -5px;
  margin-right: -7px;
  transition: all 0.3s;
  padding: 6px 12px;
  color: #fff;
}

.control-icon:hover {
  color: black;
}

.control {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.lable {
  color: var(--main-text-color);
  font-size: 10px;
  font-family: "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
}

.inline {
  display: inline-block;
}

.input {
  border-radius: 6px;
  border: unset;
  border-bottom: 2px solid #7e7e7ea6;
  margin: 0 0 5px;
  width: 176px;
  height: 30px;
  padding: 0 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 600;
  transition: border 0.2s ease-in-out;
  background-color: var(--input-bg-color);
  color: var(--input-text-color);
}

.input:nth-child(1) {
  margin: 0 0 15px;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid #2b88d8;
}

.click {
  vertical-align: -3px;
}

.title {
  color: var(--main-text-color);
  font-family: "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 7%;
  transition: all 0.5s ease-in-out;
}

.title-false {
  color: var(--sub-text-color);
  font-family: "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 7%;
  transition: all 0.5s ease-in-out;
}

.title-false::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 25px;
  background: var(--sub-text-color);
  margin-right: 10px;
  vertical-align: -6px;
}

.title::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 25px;
  background: var(--main-text-color);
  margin-right: 10px;
  vertical-align: -6px;
}

.controlcenter {
  padding: 6px 0 10px 0;
}

#stopwatch {
  font-size: 22px;
  vertical-align: -4px;
}

#control-more {
  display: none;
  left: 9px;
  background: #0c0c0c63;
  padding: 12px;
}

#control-more-active {
  display: block;
  position: fixed;
  right: 57px;
  background: #0c0c0c54;
  padding: 12px;
  z-index: 3;
  border-radius: 20px;
  backdrop-filter: blur(5px);
}

.control-more-mask {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
}

.control-more-mask-active {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  opacity: 1;
  visibility: visible;
}

#control-more-icon1,
#control-more-icon2 {
  padding: 12px;
  text-align: center;
  margin: 0;
}

#main-hide {
  display: none;
  visibility: hidden;
}

#main {
  display: block;
  visibility: visible;
}

.section2 {
  width: 100%;
}

.section2-start {
  display: block;
  visibility: hidden;
}

.stopwatc-btn {
  padding: 15px 22px;
  border: 3px solid #fff;
  background-color: transparent;
  color: #fff;
  transition: all 0.5s;
  border-radius: 10px;
  font-weight: bold;
}

.stopwatc-btn:hover {
  padding: 15px 22px;
  border: 3px solid transparent;
  background-color: #fff;
  color: #000;
}

.stopwatc-btns,
.stopwatc-btnr {
  min-width: 87px;
  margin-right: 15px;
}

.stop-btn {
  margin-top: 20px;
}

.stopwatc-btnp {
  margin-right: 15px;
}

.auto {
  color: rgb(70 181 60);
  font-family: "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
  text-align: center;
  font-size: 10px;
  padding: 0 10px;
}

.custom-icon {
  vertical-align: -5px;
  margin-right: 5px;
}

.input-count {
  color: var(--main-text-color);
  font-size: 10px;
  font-family: "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
  margin: 0 0 10px 156px;
}

#clock-lite {
  font-size: 22vw;
  padding: 0 20px;
}

#snackbar {
  z-index: 30;
  width: clamp(160px, 40%, 300px);
  background-color: #3333336e;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 15px 16px;
  left: 50%;
  font-size: 15px;
  position: absolute;
  bottom: 20px;
  transform: translate(-50%, 0);
  font-weight: bold;
  backdrop-filter: blur(10px);
  visibility: hidden;
  display: none;
  font-family: "Microsoft JhengHei", "Microsoft Yahei", sans-serif;
}

#snackbar.show {
  visibility: visible;
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s forwards;
  animation: fadein 0.5s, fadeout 0.5s 2.5s forwards;
}

#urlDone {
  margin: 2px 0 6px;
  cursor: pointer;
  text-decoration: underline;
}

.img-btn-index {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 10px;
}

.img-btn {
  width: 100px;
  height: 60px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid transparent;
}

.img-btn:not(:hover) {
  opacity: 0.6;
}

div.BtnActive {
  opacity: 1;
}

.DarkMode-img-btn-light {
  background-image: url('../src/cu-image-btnLight.PNG');
}

.DarkMode-img-btn-light:hover {
  border: 3px solid rgb(89 158 237);
  box-sizing: border-box;
}

.DarkMode-img-btn-dark {
  background-image: url('../src/cu-image-btnDark.PNG');
}

.DarkMode-img-btn-dark:hover {
  border: 3px solid rgb(89 158 237);
  box-sizing: border-box;
}

.iframe-area-wrapper {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: center;
}

.iframe-area {
  width: 200px;
  height: 120px;
  border: 1px dashed #42424270;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

iframe {
  width: 200px;
  border-radius: 25px;
  height: 122px;
}

.iframeHint {
  font-size: 10px;
}

.iframeKey {
  color: var(--input-text-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.iframe-icon {
  font-size: 23px;
  margin-top: -5px;
  margin-left: 5px;
}

@keyframes mask {
  0% {
    width: 100%;
  }

  100% {
    width: calc(100% - 250px);
  }
}

@keyframes mask-active {
  0% {
    width: calc(100% - 250px);
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    bottom: -100px;
  }

  to {
    opacity: 1;
    bottom: 20px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    bottom: -100px;
  }

  to {
    opacity: 1;
    bottom: 20px;
  }
}

@-webkit-keyframes fadeout {
  from {
    opacity: 1;
    bottom: 20px;
  }

  to {
    opacity: 0;
    bottom: -100px;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
    bottom: 20px;
  }

  to {
    opacity: 0;
    bottom: -100px;
  }
}
